<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classificação dos Clientes</title>
</head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>{{ titulo }}</h1>
            </div>
            <div>
                <h2>Classe:{{resultado}}</h2>
            </div>
            <div>
                <a href="form.html"> Voltar </a>
            </div>
        </div>
    </body>
</html>